## Import Libraries

In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [3]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [4]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,88.536,8.7,21833
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,25.603,8.7,3724
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,84.232,8.7,16258
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,44.911,8.6,12944
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,1974-12-20,61.848,8.6,9797

#### Check resources for more details

In [5]:
df = pd.DataFrame()

for i in range(1,10):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [6]:
df.shape

(180, 7)

In [7]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,88.536,8.7,21833
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,25.603,8.7,3724
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,84.232,8.7,16258
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,44.911,8.6,12944
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,1974-12-20,61.848,8.6,9797

In [8]:
df.to_csv('movies.csv')